go 1.21

use (
	./ch4/ex4.1
	./ch4/ex4.2
	./ch4/ex4.3
	./ch4/ex4.4
	./ch4/ex4.5
	./ch4/ex4.7
	./ch5/ex5.1
	./ch5/ex5.2
	./ch5/ex5.3
	./ch5/ex5.4
	./ch5/ex5.5
	./ch5/ex5.6
	./ch5/ex5.7
	./ch5/ex5.8
	./hello
	./hello2
)
